<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="MusicXMLFormatter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="MusicXMLFormatter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <MusicXMLFormatter.Properties.Settings>
            <setting name="MuseScoreExe" serializeAs="String">
                <value>${MuseScoreExeDefault}</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value>N:\Valérie\Lernobjekt PHZH\Lernobjekt Liedbegleitung\Published</value>
            </setting>
        </MusicXMLFormatter.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MusicXMLFormatter.Properties.Settings>
            <setting name="MuseScoreUrl" serializeAs="String">
                <value>http://musescore.org/</value>
            </setting>
            <setting name="MuseScoreExeDefault" serializeAs="String">
                <value>${ProgramFiles}\MuseScore\bin\mscore.exe</value>
            </setting>
        </MusicXMLFormatter.Properties.Settings>
    </applicationSettings>
</configuration>
